<?php

/* 
 * This is a template file for your settings. Please fill it in and rename it Settings.php before
 * executing your tests with /usr/bin/php main.php
 * 
 * WARNING - do not use a database that contains data in it that you want to keep. Testing will
 * remove all data in the specified database!
 */

const DB_NAME = "";
const DB_HOST = "127.0.0.1";
const DB_USER = "";
const DB_PASSWORD = "";
const DB_PORT = 3306;


