<?php

/* 
 * This is a template file for your settings. Please fill it in and rename it Settings.php before
 * executing your tests with /usr/bin/php main.php
 * 
 * WARNING - do not use a database that contains data in it that you want to keep. Testing will
 * remove all data in the specified database!
 */

define(DB_NAME, "");
define(DB_HOST, "");
define(DB_USER, "");
define(DB_PASSWORD, "");
define(DB_PORT, 3306);


